#myId {
    color: orange;
}
.lhead{
    font-size: 14px;
    color: dodgerblue;
    margin-bottom: 12px;
}
.inputField{
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    outline: none;
    margin-bottom: 12px;
    font-size: 12px;
}
.btn{
    padding: 10px;
    outline: none;
    background-color: dodgerblue;
    font-size: 12px;
}